@import url('https://fonts.googleapis.com/css2?family=Rowdies:wght@300;700&display=swap');

*{
    padding:0;
    margin:0
}

body{
    height: 100vh;
    width: 100vw;
    display:flex;
    justify-content:center;
    align-items:center
}

.container{
    padding:1em;
    font-family: 'Rowdies', cursive;
    font-style: capitalize;
    height: 80vh;
    background-color: aliceblue;
}